@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: antiquewhite;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.box {
    background-color: #D7E6FA;
    color: blueviolet;
    font-weight: bold;
    font-size: 20px;
    width: 50%;
    height: 20vh;;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(137, 43, 226, 0.489);
    transform: translateX(0%);
    transition: transform 0.5s ease;
}

.hide {
    transform: translateX(100vw);
}

.hide:nth-of-type(even) {
    transform: translateX(-100vw);
}